<div class = "container">
<br>
<h4>Here are your shortened links: <br>
	┗(｀皿´)┛   ...... (⁎˃ᆺ˂)</h4>


<% @url.each do |url| %>
<p><%= url.long_url %> --> <a href = "/<%= url.unique_key %>" target='_blank'>localhost:9393/<%= url.unique_key %></a></p>
<% end %>
</div>