<!DOCTYPE html>
<html>
<head>

<link rel="icon" 
      type="image/png" 
      href="/img/favicon.png" />

	<meta charset = "utf-8">
	<title>Hello, we don't bite!</title>
	<link rel = "stylesheet" type = "text/css" href = "/css/application.css" >
</head>

<body>

	<%= erb :"partials/bitly_form" %>
	<%= yield %>

</body>
</html>